.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.foto{
    width: 100%;
    height: 70%;
}

@media screen and (max-width:1048px){
    /* .foto{
        display: none;
    } */
}