.container{
    padding: 0px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    flex-direction: row;
    height: 300px;
    width: 100%;

}
.escudo{
    height: 300px;
    width: 250px;
    background: #2E2E2E;
    color: #fff;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    padding: 10px;
}
.escudoClaro{
    height: 300px;
    width: 250px;
    background: #787878;
    color: #fff;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    padding: 10px;
}
.escudo p{
    margin: 20px 10px 0px 10px;
}
.escudoClaro p{
    margin: 20px 10px 0px 10px;
}

